@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    font: 400 16px/1.8 "Josefin Sans", sans-serif;
    color: #333;
    overflow-x: hidden;
    background: #fff;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
::selection {
    background: rgba(166, 175, 189, 0.3);
}
::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
.ease-3,
a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
}
p {
    color: #6e7373;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
    color: #333;
    font-weight: 300;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
    margin: 0 0 30px;
}
h3 {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
h4 {
    font-size: 20px;
    letter-spacing: 1px;
}
h5 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}
h6 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
textarea {
    height: 100px;
    resize: none;
}
b,
strong {
    font-weight: 500;
}
a {
    font-family: "Open Sans", sans-serif;
}
.section {
    padding: 100px 0;
    position: relative;
    background-color: #fff;
}
.text-custom {
    color: #30b6e4 !important;
}
.h-100vh {
    height: 100vh;
}
.btn {
    padding: 12px 50px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: #fff;
    box-shadow: none;
    text-transform: uppercase;
    outline: 0 !important;
    background-color: #fd735a;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    min-width: 140px;
}
.btn:hover {
    color: #fff;
    box-shadow: 0 4px 8px rgba(134, 151, 168, 0.1);
}
.btn-outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.rounded-full {
    border-radius: 50%;
}
.page-content-wrap {
    margin-left: 50%;
    width: 50%;
    background: #f8fafb;
}
.b-box {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.hover-state:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(134, 151, 168, 0.1);
}
.section-head {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
.section-head h2 {
    font-size: 30px;
    z-index: 1;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: 700;
}
.overlay-wrap h1:after,
.section-head h2:after {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #a5a5a5, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: -30px;
}
.section-head span {
    padding-bottom: 10px;
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1c1c1c;
}
.section-light {
    background: #fff;
}
.section-dark {
    background: #f7f7f7;
}
.section-light .b-box {
    background: #f8fafb;
}
.section-dark .b-box {
    background: #fff;
}
.section-subHead {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.badge {
    font-family: "Open Sans", sans-serif;
}
.badge-dark {
    background: #fd735a !important;
}
.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.preloader.loaded {
    opacity: 0;
    visibility: hidden;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.4s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
    stroke: #212529;
    stroke-width: 2.5;
    stroke-linecap: round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}
.navbar-brand {
    letter-spacing: 3px;
    font-family: "Josefin Sans", sans-serif;
}
.nav-wrapper .navbar-toggler {
    position: absolute;
    left: 100%;
    z-index: 20;
    top: 0;
    padding: 0;
    display: none;
}
.nav-wrapper .navbar {
    background: #2a2d35;
    transition: all 750ms cubic-bezier(0.8, 0, 0.55, 0.94);
    padding-bottom: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-wrapper .navbar.active {
    transform: translate3d(0, 0, 0);
}
.nav-wrapper .navbar-nav {
    display: block;
}
.navbar {
    background-color: #fff;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    left: 0;
    right: 0;
    position: relative;
}
.navbar:after {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #a5a5a5, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: 0;
}
.navbar.fixed-top {
    position: fixed !important;
    display: none;
}
.navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.7) !important;
    text-transform: uppercase;
    padding-left: 15px !important;
    opacity: 0.8;
    padding-right: 15px !important;
}
.navbar-nav .nav-link:hover {
    opacity: 1;
}
.navbar-nav .nav-link:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: #fbd0a1;
    bottom: 20px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-nav .nav-link.active {
    opacity: 1;
    color: #fd735a !important;
}
.nav-wrapper {
    height: 100%;
}
.navbar-light .navbar-toggler {
    outline: 0;
    padding: 0;
    border: none;
}

.blog-list {
    max-width: 350px;
    display: block;
    background: #f8fafb;
}
.blog-list--img {
    position: relative;
}
.blog-list--img img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.blog-list--desc p {
    font-weight: 500;
}
.blog-list--desc span {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    color: #333;
}
.blog-list--details {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.blog-list:hover .blog-list--details {
    opacity: 1;
    visibility: visible;
}
.blog-list:hover .blog-list--details-in {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
.blog-list--details-in {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.swiper-progressbar {
    position: relative;
    margin-top: 30px;
    background: #e9ecef;
}
.swiper-pagination-progressbar-fill {
    background-color: #fd735a !important;
}
.blog-cat {
    text-transform: capitalize;
}
.blog-detail {
    padding-bottom: 50px;
}
.blog-detail-contents {
    max-width: 800px;
    margin: -100px auto 0;
    background: #fff;
    display: block;
    padding: 30px;
    z-index: 11;
    position: relative;
    border-radius: 10px;
}
.blog-detail-contents h2 {
    font-weight: 500;
}
h4.media-heading {
    font-size: 16px;
    font-weight: 700;
}
.blog-detail-content h3 {
    margin: 15px 0;
}
.blog-detail-content p {
    margin: 15px 0;
}
.blog-detail-content blockquote {
    font-size: 14px;
    background: #f9f9f9;
    border-color: #fd735a;
    padding: 5px 10px;
    border-radius: 4px;
    border-left: 5px solid #fd735a;
}
.blog-detail-content img {
    width: 100%;
    margin: 15px 0;
    height: 350px;
    object-fit: cover;
}
.blog-detail-about .media-body {
    width: auto;
}
.blog-detail-about .media-body p {
    margin: 0;
    font-size: 12px;
}
.blog-detail-about .media {
    margin-bottom: 20px;
}
.blog-detail-about img.media-object {
    border-radius: 5px;
    height: 60px;
    width: 60px;
}
.media-body,
.media-left,
.media-right {
    vertical-align: middle;
}
.blog-detail-category {
    padding: 3px 15px;
    color: #fff;
    text-transform: capitalize;
    background: #fd735a;
    border-radius: 2px;
    margin: 15px 0;
}
.blog-detail-banner img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}
.blog-detail-tags ul {
    margin: 0;
    padding: 0;
}
.blog-detail-tags ul li {
    display: inline-block;
}
.tags {
    display: inline-block;
    padding: 4px 10px;
    background-color: #f7f7f7;
    color: #333;
    margin-right: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 14px;
}
.tags:hover {
    background-color: #fd735a;
    color: #fff;
}
.blog-detail-sib {
    padding: 40px 0 20px;
}
.blog-detail-sib .blog-nav span {
    display: block;
    color: #333;
    font-size: 14px;
}
.blog-detail-sib .blog-nav p {
    font-size: 16px;
    color: #333;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}
.blog-nav {
    padding: 10px;
    background: #f7f7f7;
    transition: all 125ms ease-in-out 0s;
    display: block;
    border-radius: 3px;
}
.blog-nav:hover {
    background: #fd735a;
    color: #fff;
}
.blog-nav:hover p,
.blog-nav:hover span {
    color: #fff;
}
.blog-viewMore {
    margin-top: 50px;
}
.section-contact {
    padding-bottom: 30px !important;
}

.footer {
    margin-top: 0;
    padding: 50px;
}